In [1]:
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt

In [2]:
data_traffic_volume_path = 'D:\\Master_ML\\RL\\eco-light\\traffic-volume-counts-1.csv'
data_traffic_volume = pd.read_csv(data_traffic_volume_path, dtype=str)

In [3]:
data_traffic_volume.dtypes

ID                                                      object
SegmentID                                               object
Roadway Name                                            object
From                                                    object
To                                                      object
Direction                                               object
Date                                                    object
12:00-1:00 AM                                           object
1:00-2:00AM                                             object
2:00-3:00AM                                             object
3:00-4:00AM                                             object
4:00-5:00AM                                             object
5:00-6:00AM                                             object
6:00-7:00AM                                             object
7:00-8:00AM                                             object
8:00-9:00AM                                             object
9:00-10:00AM                                            object
10:00-11:00AM                                           object
11:00-12:00PM                                           object
12:00-1:00PM                                            object
1:00-2:00PM                                             object
2:00-3:00PM                                             object
3:00-4:00PM                                             object
4:00-5:00PM                                             object
5:00-6:00PM                                             object
6:00-7:00PM                                             object
7:00-8:00PM                                             object
8:00-9:00PM                                             object
9:00-10:00PM                                            object
10:00-11:00PM                                           object
11:00-12:00AM                                           object
dtype: object

In [4]:
data_traffic_volume.head()

,ID,SegmentID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET ...,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20,10,11,...,104,105,147,120,91,83,74,49,42,42
1,2,15540,BEACH STREET ...,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21,16,8,...,102,98,133,131,95,73,70,63,42,35
2,3,15540,BEACH STREET ...,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27,14,6,...,115,115,130,143,106,89,68,64,56,43
3,4,15540,BEACH STREET ...,UNION PLACE,VAN DUZER STREET,NB,01/12/2012,22,7,7,...,71,127,122,144,122,76,64,58,64,43
4,5,15540,BEACH STREET ...,UNION PLACE,VAN DUZER STREET,NB,01/13/2012,31,17,7,...,113,126,133,135,102,106,58,58,55,54

In [5]:
data_traffic_volume.columns

Index(['ID   ', 'SegmentID ',
       'Roadway Name                                        ',
       'From                                    ',
       'To                                             ', 'Direction ',
       'Date       ', '12:00-1:00 AM ', '1:00-2:00AM ', '2:00-3:00AM ',
       '3:00-4:00AM ', '4:00-5:00AM ', '5:00-6:00AM ', '6:00-7:00AM ',
       '7:00-8:00AM ', '8:00-9:00AM ', '9:00-10:00AM ', '10:00-11:00AM ',
       '11:00-12:00PM ', '12:00-1:00PM ', '1:00-2:00PM ', '2:00-3:00PM ',
       '3:00-4:00PM ', '4:00-5:00PM ', '5:00-6:00PM ', '6:00-7:00PM ',
       '7:00-8:00PM ', '8:00-9:00PM ', '9:00-10:00PM ', '10:00-11:00PM ',
       '11:00-12:00AM'],
      dtype='object')

In [6]:
data_traffic_volume.columns = data_traffic_volume.columns.str.strip()
data_traffic_volume.columns

Index(['ID', 'SegmentID', 'Roadway Name', 'From', 'To', 'Direction', 'Date',
       '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM',
       '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM',
       '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM', '11:00-12:00PM',
       '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
       '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM',
       '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM'],
      dtype='object')

In [7]:
ends_with_space = data_traffic_volume.applymap(lambda x: str(x).endswith(' '))
ends_with_space

,ID,SegmentID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42751,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
42752,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
42753,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
42754,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
42755,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False

In [8]:
data_traffic_volume = data_traffic_volume.applymap(lambda x: x.rstrip() if isinstance(x, str) else x)
ends_with_space = data_traffic_volume.applymap(lambda x: str(x).endswith(' '))
ends_with_space

,ID,SegmentID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42751,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42752,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42753,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42754,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42755,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
for column in data_traffic_volume.columns[0:2]:
    data_traffic_volume[column] = pd.to_numeric(data_traffic_volume[column], errors='coerce').fillna(0).astype(int)
# data_traffic_volume.iloc[0:, 0:2] = data_traffic_volume.iloc[0:, 0:2].astype(int)
data_traffic_volume.iloc[0:, 2:7] = data_traffic_volume.iloc[0:, 2:7].astype(str)
for column in data_traffic_volume.columns[7:]:
    data_traffic_volume[column] = pd.to_numeric(data_traffic_volume[column], errors='coerce').fillna(0).astype(int)
data_traffic_volume.dtypes

ID                int32
SegmentID         int32
Roadway Name     object
From             object
To               object
Direction        object
Date             object
12:00-1:00 AM     int32
1:00-2:00AM       int32
2:00-3:00AM       int32
3:00-4:00AM       int32
4:00-5:00AM       int32
5:00-6:00AM       int32
6:00-7:00AM       int32
7:00-8:00AM       int32
8:00-9:00AM       int32
9:00-10:00AM      int32
10:00-11:00AM     int32
11:00-12:00PM     int32
12:00-1:00PM      int32
1:00-2:00PM       int32
2:00-3:00PM       int32
3:00-4:00PM       int32
4:00-5:00PM       int32
5:00-6:00PM       int32
6:00-7:00PM       int32
7:00-8:00PM       int32
8:00-9:00PM       int32
9:00-10:00PM      int32
10:00-11:00PM     int32
11:00-12:00AM     int32
dtype: object

In [10]:
rows_with_nan = data_traffic_volume[data_traffic_volume.isna().any(axis=1)]
rows_with_nan

Empty DataFrame
Columns: [ID, SegmentID, Roadway Name, From, To, Direction, Date, 12:00-1:00 AM, 1:00-2:00AM, 2:00-3:00AM, 3:00-4:00AM, 4:00-5:00AM, 5:00-6:00AM, 6:00-7:00AM, 7:00-8:00AM, 8:00-9:00AM, 9:00-10:00AM, 10:00-11:00AM, 11:00-12:00PM, 12:00-1:00PM, 1:00-2:00PM, 2:00-3:00PM, 3:00-4:00PM, 4:00-5:00PM, 5:00-6:00PM, 6:00-7:00PM, 7:00-8:00PM, 8:00-9:00PM, 9:00-10:00PM, 10:00-11:00PM, 11:00-12:00AM]
Index: []

[0 rows x 31 columns]

In [11]:
data_traffic_volume['day_total'] = data_traffic_volume.iloc[:, 7:].sum(axis=1)
data_traffic_volume['day_mean'] = data_traffic_volume['day_total'] / 24
data_traffic_volume.columns

Index(['ID', 'SegmentID', 'Roadway Name', 'From', 'To', 'Direction', 'Date',
       '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM',
       '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM',
       '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM', '11:00-12:00PM',
       '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
       '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM',
       '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM',
       'day_total', 'day_mean'],
      dtype='object')

In [12]:
data_traffic_volume['day_total']

0        1529
1        1424
2        1574
3        1559
4        1659
         ...
42751    3190
42752    3288
42753    3393
42754    2783
42755    2696
Name: day_total, Length: 42756, dtype: int64

In [13]:
data_traffic_volume['day_mean']

0         63.708333
1         59.333333
2         65.583333
3         64.958333
4         69.125000
            ...
42751    132.916667
42752    137.000000
42753    141.375000
42754    115.958333
42755    112.333333
Name: day_mean, Length: 42756, dtype: float64

In [14]:
road_with_max_dayTotal = data_traffic_volume.loc[data_traffic_volume['day_mean'].idxmax()]
road_with_max_dayTotal

ID                                  138
SegmentID                        193991
Roadway Name     LONG ISLAND EXPRESSWAY
From                           73 PLACE
To                            74 STREET
Direction                            WB
Date                         10/05/2016
12:00-1:00 AM                      1851
1:00-2:00AM                        1283
2:00-3:00AM                        1134
3:00-4:00AM                        1708
4:00-5:00AM                        3223
5:00-6:00AM                        6456
6:00-7:00AM                        6867
7:00-8:00AM                        7152
8:00-9:00AM                        7035
9:00-10:00AM                       6143
10:00-11:00AM                      5253
11:00-12:00PM                      5444
12:00-1:00PM                       5303
1:00-2:00PM                        5520
2:00-3:00PM                        5628
3:00-4:00PM                        5184
4:00-5:00PM                        5203
5:00-6:00PM                        5145
6:00-7:00PM                        4831
7:00-8:00PM                        4911
8:00-9:00PM                        5065
9:00-10:00PM                       4194
10:00-11:00PM                      3500
11:00-12:00AM                      3171
day_total                        111204
day_mean                         4633.5
Name: 21964, dtype: object

In [20]:
day_mean_lower = 150
day_mean_upper = 150.5
road_searchResult = data_traffic_volume[(data_traffic_volume['day_mean'] >= day_mean_lower) & (data_traffic_volume['day_mean'] <= day_mean_upper)]
road_searchResult

,ID,SegmentID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM,day_total,day_mean
417,418,9661,POST AVENUE,GREENLEAF AVENUE,DRIPROCK STREET,WB,01/09/2012,31,14,15,...,285,307,219,156,146,108,65,67,3606,150.250000
2365,2364,119860,GRAND AVENUE,REMSEN PLACE,66 STREET,EB,01/28/2012,292,208,169,...,0,0,0,0,0,0,0,0,3603,150.125000
2631,2630,52186,101 AVENUE,107 STREET,107 STREET,WB,02/24/2012,34,25,14,...,237,252,265,210,161,127,113,99,3600,150.000000
3462,4,11599,OCEAN TERRACE,BUTTERWORTH AVENUE,COVERLY AVENUE,SB,10/04/2012,16,5,5,...,441,426,349,219,102,62,42,32,3605,150.208333
4023,35,21327,39 STREET,12 AVENUE,13 AVENUE,WB,10/22/2012,36,26,16,...,227,269,253,211,139,80,81,48,3612,150.500000
4888,87,28934,6 AVENUE,ST JOHN'S PLACE,STERLING PLACE,NB,10/26/2012,38,33,11,...,234,244,282,231,205,152,104,98,3608,150.333333
6592,221,57189,101 AVE,146 STREET,WALTHAM STREET,WB,01/30/2013,27,18,12,...,271,295,220,140,129,91,62,37,3612,150.500000
9495,108,276970,East 144 Street,A J Griffin Place,Grand Concourse,WB,09/15/2014,56,20,13,...,290,304,214,180,159,106,59,49,3604,150.166667
10229,332,71122,West 180 Street,Wadsworth Avenue,St. Nicholas Avenue,EB,09/22/2014,79,39,33,...,269,248,208,227,163,107,97,87,3609,150.375000
14122,370,22345,9 Street,9 Street Bridge,2 Avenue,SB,10/26/2014,113,105,83,...,280,248,212,193,156,137,113,81,3607,150.291667
14332,33,84009,126 Street,37 Avenue,38 Avenue,SB,10/31/2014,32,24,25,...,216,278,184,178,154,105,102,73,3602,150.083333
14588,146,40902,Flatlands Avenue,Troy Avenue,Avenue L,WB,11/04/2014,31,20,14,...,251,237,224,173,114,79,81,54,3607,150.291667
14753,300,9006987,Stanley Avenue,108 Street,Snediker Avenue,WB,11/08/2014,105,57,44,...,266,255,215,224,193,163,122,108,3610,150.416667
15576,20,130064,65 Place,53 Drive,53 Avenue,SB,03/10/2015,48,28,20,...,278,314,264,235,178,141,114,57,3604,150.166667
17872,121,47800,SCHENCK AVENUE,MC CLANCY PLACE,HEGEMAN AVENUE,NB,10/09/2015,43,20,17,...,267,267,235,193,172,159,124,106,3608,150.333333
18525,80,9001818,EAST 156 STREET,BROOK AVENUE,ST ANNS AVENUE,EB,10/13/2015,40,28,16,...,323,291,231,138,141,125,80,50,3604,150.166667
18832,295,160456,RENWICK AVENUE,STATEN ISLAND EXPRESSWAY,LITTLE CLOVE ROAD,NB,10/16/2015,20,6,4,...,256,226,176,118,75,77,57,34,3612,150.500000
18977,228,75343,58 STREET,41 DRIVE,43 AVENUE,SB,10/18/2015,90,89,74,...,231,267,232,229,172,98,116,84,3609,150.375000
20351,233,82507,GRAND CENTRAL PARKWAY,62 DRIVE,62 AVENUE,SB,11/07/2015,73,29,33,...,594,369,392,248,137,140,68,99,3606,150.250000
20394,4,262248,VAN CORTLANDT AVENUE EAST,ST GEORGE'S CRESCENT,EAST MOSHOLU PARKWAY SOUTH,WB,11/08/2015,116,66,55,...,209,285,229,182,151,148,107,80,3602,150.083333
21209,96,9003577,PARK AVENUE,TOMPKINS AVENUE,DELMONICO PLACE,WB,11/16/2015,47,31,13,...,285,236,210,188,119,92,87,47,3610,150.416667
23977,163,27147,AVENUE M,ELM AVENUE,EAST 16 STREET,EB,11/05/2016,55,44,33,...,159,158,166,286,375,411,328,232,3608,150.333333
25475,38,130569,32 Ave,86 St,Alley,WB,10/06/2019,127,114,89,...,255,232,197,187,133,123,126,73,3609,150.375000
26534,86,31248,Meserole Street,Lorimer Street,Leonard Street,WB,10/03/2017,50,26,15,...,278,276,227,190,154,130,109,88,3612,150.500000
27285,251,223773,Riverside Drive,West 100 Street,102 Street,SB,10/11/2017,25,10,11,...,124,147,141,102,70,50,60,50,3606,150.250000
28668,106,34607,Avenue C,East 11 Street,East 12 Street,NB,11/08/2017,83,62,33,...,193,219,200,193,156,179,110,108,3607,150.291667
28978,295,65633,Cross Island Parkway,114 Terrace,115 Avenue,NB,11/11/2017,101,80,38,...,279,269,277,267,221,159,137,138,3600,150.000000
29804,325,101621,Douglaston Parkway,Maryland Road,Van Zandt Avenue,NB,01/20/2018,38,21,10,...,284,282,218,216,147,109,90,70,3608,150.333333
30033,329,76510,31 Avenue,87 Street,88 Street,WB,03/06/2018,27,9,13,...,219,221,230,158,130,97,71,48,3605,150.208333
31980,85,56878,Archer Ave,143 St,144 Pl,EB,10/07/2019,89,55,63,...,141,163,185,186,186,132,129,108,3604,150.166667
32181,95,27147,Avenue M,Brighton Line,East 16 Street,WB,09/21/2019,39,36,33,...,232,208,175,166,146,170,165,147,3610,150.416667
33523,184,174149,East 161 Street,Connector,Dead end,EB,11/02/2019,152,108,74,...,204,244,225,213,269,244,235,209,3602,150.083333
35744,318,150637,Seaview Avenue,East 102 Street,East 103 Street,EB,10/13/2019,129,102,67,...,250,245,223,194,155,147,127,89,3600,150.000000
37457,58,2933,AMBOY ROAD,Arbutus Avenue,Rose Lane,EB,11/16/2020,24,8,12,...,269,272,174,151,109,81,54,40,3606,150.250000
39091,158,146887,EAST BURNSIDE AVENUE,Creston Avenue,Grand Concourse,EB,10/17/2020,92,63,71,...,243,224,237,231,202,195,156,137,3600,150.000000
41128,279,145154,Queens Blvd,59th Pl,60th Pl,WB,05/02/2021,66,65,46,...,231,233,207,189,176,149,121,91,3603,150.125000
41812,314,70953,ST NICHOLAS AVENUE,West 176th Street,West 175th Street,NB,11/15/2020,111,110,83,...,277,227,227,231,166,155,144,103,3603,150.125000
41857,316,19163,STILLWELL AVENUE,Avenue W,28th Avenue,SB,10/11/2020,72,78,47,...,226,231,206,177,155,116,72,68,3602,150.083333

In [24]:
road = data_traffic_volume[data_traffic_volume['Roadway Name'] == 'PARK AVENUE']
day_mean_lower = 120
day_mean_upper = 180
road = road[(road['day_mean'] >= day_mean_lower) & (road['day_mean'] <= day_mean_upper)]
road.to_csv('roadselect2.csv', index=False)